.footer-inner
  .container_12
    <div class="grid_2"><a href="http://neo4j.org"><img src="../images/neo4j_logo.png" alt="" border="0" /></a></div> 
    <div class="grid_8"><p class="copyright">&#169; 2011 Neo4j.org</p></div> 
    <div class="grid_2"><a style="float:right" href="http://spring.neo4j.org"><img src="../images/sdn_logo.png" alt="" border="0" /></a></div>

  		  
  