#talkbar_form
  .input-bar.talkbar_textblock
    .row.field_text
      #answer%input.inputtext.input_middle.required.input-bar-input(type="text")
    #talkbuttons
      .input-bar-execute.btn_talk.button Answer
    .input-bar-help
    .error
