%span.question = proposal.getFramedQuestion().getPhrase()
:if proposal.getAnswer().length > 0
  %span.answer = proposal.getAnswer()
:if proposal.getAnswer().length <= 0
  %span.answer.error Not answered!
.break
