.question-headline-bar
  :if prev != false
    %a.previous(href="#{prev}") &nbsp;

  %h1 Your answers
  .break

%ul.question-summary-list

%p.question Are these your final answers?

%ul.answer-alternatives
  %li.confirm-answers
    %p Yes
  
