%h3 Hello, they call me Trinity.

%p Along with your host, Marko, I'll lead you through the world of Trivialt. We'll be playing through 5 rounds, with 5 questions each. Correct answers earn points. 
%p To begin with, what is your team name?
