
<!-- bottom content -->
<div class="bottom_1">
	<div class="container_12">
    	
        <div class="row">
          
          		<div class="col col_1_3" id="Reviews">               	
           	  	  	<h2>Reviews &amp; Testimonials:</h2>                  
                    
                   	<div class="quoteBox-big">
                        <div class="inner">
                        <div class="quote-text">This app has great design, &amp; the receipt view adds a very handy feature that few other calc apps include. I only wish there was a way to take notes onto the receipt, but it's great...</div>
                        <div class="quote-author"><span class="quote-name">George Mansion,</span>  founder Silicon-App Inc.</div>    
                        </div>                    
                    </div>
                
	  			</div>
                
			</div>
            
	<div class="clear"></div>        
    </div>
</div>
<!--/ bottom_1 content -->

