<!-- footer content -->
<div class="footer">
	<div class="container_12">
       
        <div class="divider"></div>
        
        <div class="row">
        	<div class="col col_1_4">
            	<div class="social-box"> 
                <a href="http://twitter.com/#!/neo4j"><img src="images/social_twitter.png" width="16" height="16" alt="" /></a>
                </div>
			</div>                
            
            <div class="col col_3_4">
       	   		<div class="copyright">
            		<p><a href="http://neo4j.org">Neo4j.org</a> &copy;  2011. All rights reserved</p>
                </div>
            </div>
		</div>            
		
        
        <div class="clear"></div>        
    </div>
</div>
<!--/ footer content -->

