<div class="head_bar">
	<div class="container_12">
    <div class="logo"><a href="index.html"><img src="{{site.images}}/logo.png" alt="" width="255" height="42" border="0" /></a></div>
        <div class="topmenu">
        	<ul class="dropdown">
            	<li><a href="/#Features"><span>Features</span></a>
               		<ul>
                        <li><a href="/#footer-form"><span>Contact Form</span></a></li>
					</ul>
                </li>
                <li><a href="/#Screenshots"><span>Screenshots</span></a></li>
                <li><a href="/#Reviews"><span>Reviews</span></a></li>
                <li><a href="/#Download"><span>Download</span></a></li>
                <li><a href="#"><span>Pages</span></a>
                	<ul>
                        <li><a href="/blog.html"><span>Blog</span></a></li>
                        <li><a href="#"><span>Shortcodes</span></a>
                        	<ul>
                            <li><a href="/examples/shortcodes-text.html"><span>Text &amp; Images</span></a></li>
                            <li><a href="/examples/shortcodes-buttons.html"><span>Buttons &amp; Lists</span></a></li> 
                            <li><a href="/examples/shortcodes-charts.html"><span>Charts</span></a></li>  
                            <li><a href="/examples/shortcodes-columns.html"><span>Columns</span></a></li>  
                            <li><a href="/examples/shortcodes-lightbox.html"><span>Lightbox</span></a></li>
								            <li><a href="/examples/shortcodes-media.html"><span>Media</span></a></li>
                            <li><a href="/examples/shortcodes-tables.html"><span>Tables</span></a></li>
                            <li><a href="/examples/shortcodes-tabs.html"><span>Tabs and Toggles</span></a></li>
                            <li><a href="/examples/shortcodes-typography.html"><span>Typography</span></a></li>
                          </ul>
                        </li>
                        <li><a href="/page-pricing.html"><span>Pricing Page</span></a></li> 
                        <li><a href="/contact.html"><span>Contact</span></a></li>
                        <!-- if someting something, then add class -->
                        <li class="current-menu-item"><a href="page-pricing.html"><span>Pricing Page</span></a></li> 
					</ul>
                </li>
            </ul>
        </div>
    </div>
  </div> <!-- head_bar -->
