<!-- header no image -->    
<div class="header_thin">
  <div class="container_12">
        
    <div class="widget-container widget_search">
      <form method="get" id="searchform" action="">
			  <div>
          <label class="screen-reader-text" for="s">Search for:</label>
          <input type="text" name="s" id="s" value="enter search terms" onfocus="if (this.value == 'enter search terms') {this.value = '';}" onblur="if (this.value == '') {this.value = 'enter search terms';}" />
          <input type="submit" id="searchsubmit"  value="Search" />
        </div>
      </form>
	</div>
            
  <div class="head_title head_blog">
    <h1>{{page.title}}</h1>
    {% if page.subtitle %}
    <div class="sub_title">{{page.subtitle}}</div>
    {% endif %}
    </div>
        
  </div>
</div>
<!--/ header no image --> 
