
<!-- header_slider -->    
    <div class="header_slider">
    	<div class="container_12">
        
        	<div class="homeslider" id="slider_outer">
       	
            	<div id="header_images">
                <img src="{{site.images}}/slider_image_1.png" class="header_image" alt="" link="#link2" />
                <img src="{{site.images}}/slider_image_2.png" class="header_image" alt="" link="#link1" />
                <img src="{{site.images}}/slider_image_3.png" class="header_image" alt="" link="#link1" />
				</div>
                <div class="header_controls">            
                <a href="#" id="header_controls_left">Previous</a>
                <a href="#" id="header_controls_right">Next</a>
                </div>
                <div id="overlay_bg"></div>
       	  </div>
        
        </div>
    </div>
<!--/ header_slider -->


